.container {
    /* background-color: aquamarine; */
    margin: 100px 32.5%;
    width: 35%;
    height: 30%;
}

form {
    height: 30px;
    display: inline-block;
}

input {
    height: 100%;
    font-size: 20px;
    margin-right: 5px;
    box-sizing: border-box;
}

button {
    height: 100%;
}